* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightBlue: #f4f8fb;
}
.text-green {
    color: #00b14f;
}
.text-grey {
    color: #5e6368 ;
}

.bg-white {
    background-color: #fff;
}
.page-container .breadcrumb-box {
    position: sticky;
    top: 64px;
    width: 100%;
    height: 64px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8edf2;
    z-index: 999;
}
.page-container .breadcrumb-box h6 {
    font-size: 16px;
    font-weight: 600;
}

.page-container .sub-breadcrumb-box {
    position: sticky;
    top: 128px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e8edf2;
    min-height: 46px;
    z-index: 998;
    padding-left: 20px !important;
}

.page-container .box-search form {
    position: relative;
    width: 280px;
}

.box-search form input,
.select-campaign form input {
    font-size: 14px;
}
.box-search form button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    
}
.sub-breadcrumb-box .select-campaign form {
    position: relative;
    width: 200px;
}
.sub-breadcrumb-box .select-campaign {
    margin-right: 16px;
}
.sub-breadcrumb-box .select-campaign select {
    font-size: 14px;
}

.sub-breadcrumb-box .select-campaign button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.banner-content {
    max-width: 1296px;
    border: 1px solid #00b14f;
    border-radius: 6px;
    background-color: #f5fff9;
    margin: 0 8px;
}

.banner-content img {
    width: 112px;
    padding-right: 6px;
}

.banner-content span {
    font-size: 14px;
}


.banner-shiring__action {
    width: 140px;
    padding-left: 10px;
    align-self: center;
    font-weight: 600;
    margin-left: auto;
    border-left: 1px solid #00b14f;
   
}

.banner-shiring__action a {
    text-decoration: none;
}

.page-content {
    width: 100%;
    padding: 20px 20px 80px;
    margin-left: auto;
    margin-right: auto;
}
.page-list-cv {
    border-radius: 5px;
}
.page-list-cv select {
    font-size: 15px;
}

/*---------------table----------------*/

.page-list-cv .list-cv table th,
.page-list-cv .list-cv table tbody td {
    padding: 20px;
}

.page-list-cv .list-cv table thead {
    background-color: var(--lightBlue);
   
}
.page-list-cv .list-cv table tbody tr {
    border-top: 1px solid #e8edf2;
}

.page-list-cv .list-cv table tbody .avatar {
    margin-right: 36px;
}

.page-list-cv .list-cv table tbody .avatar img {
    width: 70px;
    border-radius: 50%;
}
.page-list-cv .list-cv table tbody .info {
    align-self: center;
}
.page-list-cv .list-cv table tbody .info h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.page-list-cv .list-cv table tbody .info span{
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #f4f8fb;
}

.page-list-cv .list-cv table tbody .contact-info .email,
.page-list-cv .list-cv table tbody .insight .comment {
    margin-bottom: 8px;
}

.page-list-cv .list-cv table tbody .contact-info i,
.page-list-cv .list-cv table tbody .insight i {
    margin-right: 8px;
}

.page-list-cv .list-cv table tbody .condition {
    padding: 6px 22px;
    color: #F9BB00;
    background-color: #FFFBDF;
    border-radius: 8px;
}