@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
﻿@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}
@section title
{
    <title>Chúc mừng bạn đã ứng tuyển thành công!</title>
}

@section linkCss
{
    <link rel="stylesheet" href="~/css/thongBaoUngTuyenThanhCong.css">
}

<div class=" box d-flex align-items-center justify-content-center flex-column g-15 ">
    <h1 class="text-center text-green mt-3">Chúc mừng bạn đã ứng tuyển thành công</h1>
    <a class="btn btn-secondary" @Url.Action("Index", "Home")>Quay về trang chủ</a>
</div>